keypirinha/portable/Local/Keypirinha.mathilde.catalog
keypirinha/portable/Local/Keypirinha.mathilde.log
keypirinha/portable/Profile/User/Keypirinha.history
multicommander/Config/TOTD/
multicommander/Config/CfgProfiles/
multicommander/Config/Presets/
ditto/Ditto.db
# Backup files
\#*
*\#
*~
*.bak
*.swp
